table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: aqua;
    height: 40px;
}

td {
    height: 50px;
    text-align: center;
}