div {
    border: 1px solid black;
    padding: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #008CBA;
}

p.align-last {
    text-align-last: right;
}

p.direction {
    direction: rtl;
    unicode-bidi: bidi-override;
}

img {
    background-color: red;
}

img.a {
    vertical-align: baseline;
}

img.b {
    vertical-align: text-top;
}

img.c {
    vertical-align: text-bottom;
}

img.d {
    vertical-align: sub;
}

img.e {
    vertical-align: super;
}

h2.decoration_1 {
    text-decoration-line: overline;
}

h2.decoration_2 {
    text-decoration-line: line-through;
}

h2.decoration_3 {
    text-decoration-line: underline;
}

h2.decoration_4 {
    text-decoration-line: overline underline;
}

p.uppercase {
    text-transform: uppercase;
}
p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

div.spacing {
    text-indent: 100px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 44px;
    white-space: wrap;
    text-shadow: 2px 2px 3px blue;
}

h2.shadow_effect {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}