.p1 {
    font-family: "Time New Roman", Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.f1 {
    font-family: "Time New Roman", serif;
}

.f2 {
    font-family: Georgia, serif;
}

.f3 {
    font-family: Garamond, serif;
}

.f4 {
    font-family: Arial, Helvetica, sans-serif;
}

.f5 {
    font-family: Tahoma, Verdana, sans-serif;
}

.f6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.f7 {
    font-family: Geneva, Verdana, sans-serif;
}