body {
    padding: 10px;
}

/* div {
    display: inline;
} */

/* div.box {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    float: right;
} */

img.box {
    float: right;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

div {
    float: left;
    padding: 15px;
    color: white;
}

.div1 {
    background: red;
}

.div2 {
    background: blue;
}

.div3 {
    background: green;
}

.div4 {
    color: black;
    float: left;
    padding: 10px;
    border: 5px solid red;
}

.div5 {
    color: black;
    padding: 10px;
    border: 3px solid green;
}

.div6 {
    color: black;
    float: left;
    padding: 10px;
    border: 5px solid red;
}

.div7 {
    color: black;
    padding: 10px;
    border: 3px solid green;
    clear: left;
}

.div8 {
    border: 2px solid green;
    color: black;
}

.img1 {
    float: right;
    width: 200px;
    height: 200px;
}

.img2 {
    float: right;
    width: 200px;
    height: 200px;
}

.clearfix {
    border: 2px solid green;
    color: black;
    overflow: auto;
}