.div_1 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}

.div_1:hover {
    background-color: purple;
}

p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

.div_2:hover p {
    display: block;
}