.nav_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_1 li a {
    display: block;
    width: 80px;
    background-color: #dddddd;
    padding: 5px;
}

.nav_2 {
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.nav_2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav_2 li a.active {
    background-color: #04AA6D;
    color: white;
}

.nav_2 li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav_3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_3 li {
    float: left;
}

.nav_3 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_3 li a.active {
    background-color: #04AA6D;
}

.nav_3 li a:hover:not(.active) {
    background-color: rgb(135, 34, 34);
}

.ex1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}

.ex1 li {
    float: left;
}

.ex1 li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ex1 li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}