.center {
    margin: auto;
    border: 2px solid blue;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.image_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

span {
    color: red;
}

.box {
    position: absolute;
    right: 0;
    width: 250px;
    border: 2px solid green;
    padding: 10px;
}