.p1::first-line {
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

.p2::first-letter {
    color: red;
    font-size: 50px;
}

p.intro::first-letter {
    color: blue;
    font-size: 250%;
}

.p3::first-letter {
    color: red;
    font-size: 250%;
}

.p3::first-line {
    color: green;
    font-size: 150%;
}

::marker {
    color: red;
}

::selection {
    color: red;
    background: yellow;
}